@charset "UTF-8";

/*  Reseteo CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* boder-box se coloca para que los valores de tamaño sean exactamente esos (no sumen)*/
}

/* HEADER *******************************************/
/* menu de navegacion*/
.navbar__container {
  top: 0;
  left: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
  color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.336);
}

.titulos_secciones {
  /* background-color: rgb(247, 247, 247); */
  background-color: rgb(219, 219, 219);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* color: rgb(65, 65, 65); */
  color: rgb(41, 41, 41);
  padding-top: 10px;
  padding-bottom: 5px;
  margin: auto;
  margin-bottom: 30px;
  text-align: center;
  align-items: center;
  justify-content: center;
  /* letter-spacing: 2px; */
  font-size: 1.5rem;
}

.subtitulos_secciones {
  /* background-color: rgb(247, 247, 247); */
  background-color: rgba(255, 239, 255, 0.705);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* color: rgb(65, 65, 65); */
  color: rgb(41, 41, 41);
  padding-top: 10px;
  padding-bottom: 5px;
  margin: auto;
  /* margin-bottom: 30px; */
  text-align: center;
  align-items: center;
  justify-content: center;
  /* letter-spacing: 2px; */
  font-size: 1.5rem;
}


.pelis_container {
  margin: auto;
  width: 80%;
  justify-content: space-around;
}

.card-peli {
  background-color: black;
  color: yellow;
  border-color: white;

}

.estiloOK {
  text-align: center;
  color: green;
  background-color: rgb(217, 255, 210);
  box-shadow: 0 0 20px rgba(105, 235, 88, 0.5);
  margin-top: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.estiloError {
  text-align: center;
  color: red;
  background-color: rgb(255, 212, 210);
  box-shadow: 0 0 20px rgba(235, 88, 88, 0.5);
  margin-top: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 5px;
}

.contacto__botones {
  padding-top: 20px;
  margin: auto;
  text-align: center;
}

.contacto__botoncolor {
  background: linear-gradient(90deg, rgba(114, 251, 227, 0.863183) 0%, rgba(252, 156, 245, 0.43181) 33%, rgba(105, 105, 105, 0.466) 100%);
  color: blue;
}

/* FOOTER *************************************************/


.footer__redes {
  background-color: rgb(219, 219, 219);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  align-items: center;
  padding: 0 10vw 0 10vw;
  color: rgb(41, 41, 41);
}

.footer__icons {
  width: 40px;
  height: 40px;
  transition: transform 0.5s;
}

.footer__icons:hover {
  transform: scale(1.1) rotate(360deg);
}

@media (max-width: 600px) {
  .main_media {
    margin-top: 4.5rem;
  }
}

@media (min-width: 600px) {
  .main_media {
    margin-top: 4.5rem;
  }
}

.card-group {
  width: 80%;
  margin: auto;
}

.cards__icons {
  width: 96px;
  height: 96px;
  transition: transform 0.1s;
}

.cards__icons:hover {
  transform: scale(1.1);
}